.slick-prev:before, .slick-next:before {
  width: 40px !important;
  height: 40px !important;
  background-color: black;
  font-size:30px!important;
  border-radius: 50% !important;
    -webkit-font-smoothing: antialiased;
border:1px solid black !important}
.slick-next{
    position: absolute;
    top: 50% !important;
    right: -5% !important;
}
.slick-prev{
    position: absolute;
    top: 50% !important;
    left: -10% !important;
}
::-webkit-scrollbar{
    @apply !hidden;
  }